slides/_minted/*
slides/_minted-slide/*
.vscode/
build/
code/py/*
!code/py/main.py
!code/py/manim.cfg
.venv/
.Rproj.user
.Rhistory
cppcon2025_autodiff.Rproj
slides/slide.aux
slides/slide.fdb_latexmk
slides/slide.fls
slides/slide.listing
slides/slide.log
slides/slide.nav
slides/slide.out
slides/slide.snm
slides/slide.synctex.gz
slides/slide.toc
slides/slide.vrb
slides/slide.xdv
